<h2>About Skysumu</h2>
<p>Skysumu has been designed with something very specific in mind: to be a simple shop sell adsense việt nam account.</p>

<h2>Features</h2>
<ul>
  <li>Full gmail adsense root account</li>
  <li>Adsense account</li>
  <li>Domain registered with adsense <a href="https://skysumu.com/">Sky Sumu</a></li>
</ul>

<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
